$container_background_color: var(--container-background-color);
$font_color: var(--font-color);
$form_background_color: var(--form-background-color);
$heading_color: var(--heading-color);
$border_color: var(--border-color);
$accent: var(--accent);
$body_background_color: var(--body-background-color);
$danger: #ac7373;

$space: 10px;
$font: "Roboto", sans-serif;
$dark_shadow: 5px 6px 17px -7px rgba(0, 0, 0, 0.2);
$light_shadow: 0px 6px 10px -10px rgba(0, 0, 0, 0.2);
