@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --container-background-color: #f7f7f7;
  --font-color: #b9c0cf;
  --border-color: #e3e8f1;
  --form-background-color: #fff;
  --heading-color: #687082;
  --accent: #009ed9;
  --body-background-color: #f1f1f1;
}
